.vs
XamarinPrismDemo/XamarinPrismDemo/bin
XamarinPrismDemo/XamarinPrismDemo/obj
XamarinPrismDemo/XamarinPrismDemo.Android/bin
XamarinPrismDemo/XamarinPrismDemo.Android/obj
ChatComponent/bin
ChatComponent/obj
XamarinPrismDemo.sln.DotSettings.user
WellBeingComponent/bin
WellBeingComponent/obj
XamarinPrismDemo/XamarinPrismDemo.Android/XamarinPrismDemo.Android.csproj.user
